node_modules
.next
.npm-cache
.tools
.git
_git
ai_information_nexus
ai_1
ai_2
ai_3
ai_4
out
dist
data/*.json
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tsbuildinfo
.DS_Store
